
  <section class="home-page">Recipes: <b>{{recipes.length}}</b></section>
  <div class="home-page-icons">
    <a href="/recipes">
      <span class="icon">&#x1D315;</span>
      <span>View recipes</span>
    </a>
    <a href="/recipe/create">
      <span class="icon">&#10010;</span>
      <span>Create new recipe</span>
    </a>
    <a href="/recipes/search">
      <span class="icon">&#8981;</span>
      <span>Search recipes</span>
    </a>
  </div>