<div class="home-page-icons">
  <a href="/recipes">
    <div class="icon-wrap">
      <span class="icon">&#x1D315;</span>
      <span>View recipes</span>
    </div>
  </a>
  <a href="/create">
    <div class="icon-wrap">
      <span class="icon">&#10010;</span>
      <span>Create new recipe</span>
    </div>
  </a>
  <a href="/recipes/search">
    <div class="icon-wrap">
      <span class="icon">&#8981;</span>
      <span>Search recipes</span>
    </div>
  </a>
</div>