extends layout.pug

block head
  - var pageTitle = 'Search Recipes'

block content
  if keyword
    h1 Recipes Matching Keyword "#{keyword}"
    if recipes.length == 0
      div#searchResult No recipes found.
      br
    else
      div#searchResult #{recipes.length} recipes found.
      br
      include render-recipes
      br

  form(method='GET')
    table.recipe-entry.form
      tr.name
        th Keyword
        td
          input#keyword(type='text', name='keyword', value=`${keyword}`)
    button#search(type='submit') Search
