body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 110px auto;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header.top {
  color: white;
  grid-area: header;
  display: grid;
  grid-template-areas: "logo header-text";
  grid-template-columns: 60px auto;
  background: #7213EA;
  padding: 10px 5px;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

header.top a {
  grid-area: logo;
  align-self: center;
  text-align: center;
  font-size: 2.0em;
  filter: drop-shadow(0px 0px 2px #555);
  padding-right: 10px;
}

header.top h1 {
  grid-area: header-text;
  margin: 0px;
  align-self: center;
  font-size: 1.5em;
}

aside {
  grid-area: aside;
  background: #7213EA;
  border-radius: 3px;
  height: 100%;
  position: relative;

}

aside ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;

  position: absolute;
  /* Position the ul element absolutely */
  top: 50%;
  /* Move the ul element 50% from the top */
  left: 50%;
  /* Move the ul element 50% from the left */
  transform: translate(-50%, -50%);
  /* Center the ul element */
  list-style: none;
  /* Remove default list styles */
  padding: 0;
  /* Remove default padding */
}

aside ul a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

aside ul a:hover {
  background: #1E49E2;
  color: white;
  border-radius: 3px;
}

main {
  grid-area: main;
  width: 100%;
}

footer {
  color: white;
  grid-area: footer;
  background: #7213EA;
  padding: 8px;
  border-radius: 3px;
  display: grid;
  place-items: center;
}

div.home-page-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;

}

div.home-page-icons a {
  color: white;
  background: #7213EA;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(125, 170, 238);
  margin: 0px 10px 0px 0px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1;
  height: 100%;
  padding: 0;
}

div.home-page-icons a:last-child {
  margin-right: 0;
}

div.icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.home-page-icons a span.icon {
  display: block;
  font-size: 3em;
}

.home-page {
  white-space: pre-wrap;
}

div.home-page-icons a:hover {
  background: #1E49E2;
  color: white;
}

div.recipe-details-section img {
  max-width: 500px;
  max-height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.recipe-entry td {
  width: 100%;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #dae9f3;
}

table.form tr:hover {
  background-color: #1E49E2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7213EA;
  color: white;
}

div.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: auto;
}

div.recipes-grid a {
  text-decoration: none;
}

table {
  height: 100%;
}

table.recipe-entry th {
  width: 120px;
}

table.recipe-entry td {
  width: 100%;
}

table.recipe-entry td div.comments {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

form table {
  max-width: 800px;
  margin: 0px auto 10px auto;
}

form table input {
  width: 100%;
}

form table textarea {
  width: 100%;
}

form button {
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  background: #7213EA;
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 800px;
  font-size: 1.2em;
}

.err {
  background-color: #bc204b;
  color: #fff;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
  width: 50%;
}

.complexity select {
  width: 100%;
  box-sizing:
}

img {
  max-width: 300px;
  max-height: 300px;
}

div.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#sadFaceImg {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }

  div.recipes-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  aside ul {
    position: static;
    transform: translate(0%, 0%);
    text-align: center;
    display: flex;
  }

  aside ul li {
   margin-right: 20px;
  }

  div.recipes-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}